<!-- accounts/templates/accounts/emails/instructor_request_notification.html -->
{% extends 'accounts/emails/base.html' %}

{% block content %}
<p>Hello,</p>

<p>
    A new instructor request has been submitted on <strong>{{ site_name }}</strong>.
</p>

<div class="info-box">
    <h4>Request Details</h4>
    <ul>
        <li><strong>User:</strong> {{ request.user.get_full_name }} ({{ request.user.email }})</li>
        <li><strong>Reason:</strong> {{ request.reason }}</li>
        <li><strong>Qualifications:</strong> {{ request.qualifications }}</li>
    </ul>
</div>

<div style="text-align: center;">
    <a href="{{ admin_url }}" class="button">
        Review Request
    </a>
</div>

<div class="divider"></div>

<p style="font-size: 13px; color: #888;">
    You can also view this request in the Django admin panel.
</p>
{% endblock %}

{% block extra_context %}
{% with email_subtitle="New Instructor Request" %}
{{ block.super }}
{% endwith %}
{% endblock %}