<!-- accounts/templates/accounts/emails/password_reset_email.html -->
{% extends 'accounts/emails/base.html' %}

{% block content %}
<p>Hello {{ user.get_full_name }},</p>

<p>
    We received a request to reset your password for <strong>{{ site_name }}</strong>. 
    Click the button below to set a new one:
</p>

<div style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p style="font-size: 14px; color: #666; margin-top: 30px;">
    Or copy and paste this link into your browser:<br>
    <a href="{{ reset_url }}" style="color: #2563eb; word-break: break-all;">
        {{ reset_url }}
    </a>
</p>

<div class="divider"></div>

<div class="info-box">
    <h4>Security Notice</h4>
    <ul>
        <li>This link expires in 1 hour.</li>
        <li>If you didn't request this, you can ignore this email.</li>
        <li>We will never ask for your password via email.</li>
    </ul>
</div>
{% endblock %}

{% block extra_context %}
{% with email_subtitle="Reset your password" %}
{{ block.super }}
{% endwith %}
{% endblock %}